button:hover{
    background-color:chartreuse
}

      

#header-name{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 8px;
}

.test{
    background-color:chartreuse;
    border: 77px;
}
.about_background{
    background-image: url('https://images.wallpapersden.com/image/download/cool-red-mountains-4k_bG1mamyUmZqaraWkpJRpZWVlrWdnamU.jpgbackground_image.jpg');
    background-color:cornsilk;
}